/* CONFIGURAÇÕES GLOBAIS */

@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Cabinet Grotesk', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100dvw;
    min-height: 100dvh;

    background-color: #0a0a0f;

    padding: 30px;
}

.topic {
    align-self: start;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 20px;

    width: 28%;
    height: 95%;

    background-color: transparent;
}

main * {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.877);
}

/* SITE INDISPONÍVEL */

#unavailabe {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

/* PERFIL */

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#profile .userIcon {
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
    width: 120px;

    margin-bottom: 10px;
    font-size: 60px;
    border-radius: 100px;
    border: 6px currentColor solid;
    font-weight: 600;
}

#profile .userName {
    font-size: 40px;
    font-weight: 600;
}

#profile .userAt {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

/* ESTATÍSTICAS DE PERFIL */

#userStats {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 10px;
    
    border-radius: 12px;
    border: 1.5px rgba(255,255,255,0.08) solid;
    background-color: #1c1c28;
}

#userStats .card > h1 {
    font-weight: 700;
}

/* REDES SOCIAIS */

#userSocials {
    width: 100%;
    flex-direction: column;
}

#socialsContainer {
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#userSocials .socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5px;

    text-decoration: none;
    padding: 5px;
    border: 1.5px rgba(255,255,255,0.08) solid;
    background-color: #1c1c28;
    border-radius: 100px;

}

#userSocials .socialMedia p {
    transition: color 0.3s;
}

#userSocials .socialMedia i {
    font-size: 25px;
    transition: color 0.3s;
}

/* LINKS PERSONALIZADOS */

#userLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    margin-top: 20px;
}

#userLinks #linksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

#userLinks .link {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;

    width: 100%;
    gap: 20px;
    text-decoration: none;
    border-radius: 12px;
    border: 1.5px rgba(255,255,255,0.08) solid;
    background-color: #1c1c28;
    padding: 10px;
}

#userLinks .linkIcon {
    font-size: 25px;
    padding: 5px;
    border-radius: 12px;
    background-color: rgba(200,255,87,0.15);
}

#userLinks .linkText {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#userLinks .linkText .title {
    font-weight: 700;
}