/* CONFIGURAÇÕES GLOBAIS */
@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Cabinet Grotesk', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100dvw;
    min-height: 100dvh;

    background-color: #0a0a0f;

    padding: 30px;
}

.buttonsContainer {
    display: flex;
    width: 100%;
    gap: 20px;
}

button {
    width: 50%;
    padding: 10px;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    background-color: #1c1c28;
    border: 2px rgba(255,255,255,0.08) solid;
    cursor: pointer;

    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button:hover {
    width: 100%;
    border-radius: 50px;
    background-color: #2a2a3a; 
}

button:disabled {
    pointer-events: none;
    opacity: 0.3;
}

.required {
    color: #ff4d4d8e;
}

.steps {
    width: 100%;

    transition: 1s;
}

/* INDISPONÍVEL */
#unavailabe {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

/* MAIN */
main {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 20px;

    width: 30%;
    height: 95%;

    background-color: transparent;
}

/* FORMULÁRIO */
main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

form #formTitle {
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.inputGroup {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    margin: 16px 0 16px 0;
    position: relative;
}

.inputGroup input {
    width: 100%;
    font-size: 100%;
    padding: 12.8px;
    outline: none;
    border: 2px rgba(255,255,255,0.08) solid;
    background-color: transparent;
    border-radius: 20px;

    color: white;

    transition: border 0.3s ;
}

.inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 12.8px;
    margin-left: 8;
    pointer-events: none;
    transition: all 0.2s;
    color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label, .inputGroup :is(input:disabled)~label, .inputGroup :is(input:read-only)~label {
    transform: translateY(-75%) scale(.9);
    margin: 0;
    margin-left: 20.8px;
    padding: 6.4px;
    background-color: #0a0a0f;
}

.inputGroup :is(input:focus, input:valid) {
    border-color: rgba(255, 255, 255, 0.555);
}

.icon .iconContent {
    display: none; 
    position: absolute;
    left: 12px;
    top: 50%;
    width: 20px;
    transform: translateY(-50%);
    color: white;
    pointer-events: none;
}

.inputGroup input:focus ~ .icon .iconContent,
.inputGroup input:valid ~ .icon .iconContent,
.inputGroup input:disabled ~ .icon .iconContent,
.inputGroup input:read-only ~ .icon .iconContent {
    display: block;
    right: 0;
}

.inputGroup input:focus, 
.inputGroup input:valid,
.inputGroup input:disabled,
.inputGroup input:read-only {
    padding-left: 40px;
}

.icon i {
    font-size: 20px;
}

/* ETAPA 1 */
#colors {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: fit-content;
    margin: 30px 0px;
}

#colors .color {
    aspect-ratio: 1/1;
    height: 50px;
    border-radius: 100px;
    border: 2px solid white;
    cursor: pointer;
    
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#colors .color:hover {
    scale: 150%;
}

#colors .color.selected {
    scale: 150%;
}

#colors .color#red {
    background-color: #FF4D4D;
}

#colors .color#green {
    background-color: #2ECC71;
}

#colors .color#blue {
    background-color: #3498DB;
}

#colors .color#white {
    background-color: #FFFFFF;
}

#colors .color#orange {
    background-color: #E67E22;
}

#colors .color#yellow {
    background-color: #F1C40F;
}

/* ETAPA 2 */
#step2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#step2 .inputGroup {
    margin-bottom: 0px;
    transition: 0.3s;
}

#step2 .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 12.8px;
    margin-left: 8;
    pointer-events: none;
    transition: all 0.2s;
    color: rgb(100, 100, 100);
}

#step2 .inputGroup label {
    transform: translateY(-75%) scale(.9);
    margin: 0;
    margin-left: 20.8px;
    padding: 6.4px;
    background-color: #0a0a0f;
}

#step2 #addSocial {
    width: 100%;
    margin-top: 20px;
    display: none;
}

/* ETAPA 3 */
#step3 {
    display: flex;
    flex-direction: column;
}

#step3 #openModal {
    width: 100%;
    margin: 20px 0px;
}

#step3 .inputGroup {
    margin-bottom: 0px;
    transition: 0.3s;
}

#step3 .removeIcon .iconContent {
    width: 30px;
    cursor: pointer;
    right: 12px;
}

#step3 .icon .iconContent {
    display: block;
    width: 20px;
    left: 12px;
    pointer-events: none;
}

#step3 .iconContent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

#step3 .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 12.8px;
    margin-left: 8;
    pointer-events: none;
    transition: all 0.2s;
    color: rgb(100, 100, 100);
}

#step3 .inputGroup label {
    transform: translateY(-75%) scale(.9);
    margin: 0;
    margin-left: 20.8px;
    padding: 6.4px;
    background-color: #0a0a0f;
}

#step3 .removeIcon {
    position: relative;
}

#step3 .removeIcon .iconContent {
    width: 30px;
    cursor: pointer;
    right: 12px;
    display: block;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

#nenhumLink {
    text-align: center;
    color: white;
    font-weight: 600;
}

#nenhumLinkSub {
    text-align: center;
    color: white;
    font-weight: 400;
}

/* MODAL */
dialog[open="true"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 1;

    position: absolute;
    width: 90%;
    min-height: 50%;
    height: fit-content;
    padding: 20px;
    background-color: #0a0a0f;
    border: 2px rgba(255, 255, 255, 0.555) solid;
    border-radius: 12px;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    margin-top: 0px;
    transition: margin-top 0.5s;
    z-index: 10;
}

dialog[open="false"] {
    display: none;
    margin-top: 1000px;
    z-index: -10;
    transition: margin-top 0.5s;
}

dialog h1 {
    color: white;
}

dialog .inputGroup {
    margin-bottom: 0px;
}

dialog button {
    margin-top: 20px;
}

.customLinkGroup span {
    font-size: 20px;
}

emoji-picker {
    margin-top: 16px;

    width: 100%;
    --background: transparent;
    --border-color: #1d1d21;
    --border-size: 2px;
    --border-radius: 12px;

    --input-border-color: #1d1d21; 
    --input-border-radius: 8px;
    --input-border-size: 2px;
    --outline-color: #1d1d21;
}